@using CollectionApp.Models
@using Microsoft.AspNetCore.Identity
@model CollectionApp.ViewModels.CollectionsControllerViewModel
@{
    ViewBag.Title = "Collections";
}
    <script language="JavaScript">
        function toggle(source) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="Id"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }
    </script>
    <head>
        <script src="https://kit.fontawesome.com/1d70ce51d1.js"></script>
        <style>

            #collections {
                font-family: "Times New Roman", Times, sans-serif;
                font-size: 17px;
                border-collapse: collapse;
                width: auto;
                margin-left: 5px;
            }

                #collections td, #collections th {
                    border: 1px solid white;
                    padding: 8px;
                    text-align: center;
                    max-width: 300px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                #collections tr {
                    background-color: forestgreen;
                    color: white
                }

                    #collections tr:hover {
                        background-color: black;
                        color: white;
                    }

                #collections th {
                    font-family: "Times New Roman", Times, sans-serif;
                    font-size: 18px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: darkgreen;
                    color: white;
                    text-align: center;
                }

            ol.buttons {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: none;
            }

            input {
                font-family: "Times New Roman", Times, sans-serif;
                font-size: 17px;
                border: 1px solid black;
                padding: 4px 7px;
                margin: 4px 6px;
                background-color: lightgrey;
                cursor: pointer;
            }

                input.check {
                    vertical-align: top;
                    cursor: auto;
                }

                input.button:hover {
                    background-color: red;
                    color: white;
                }

            #collections a.td {
                text-decoration: none;
                color: white;
            }

            #collections a.th {
                text-decoration: none;
                color: white;
            }

                #collections a.th:visited {
                    color: white;
                }

                #collections a.td:visited {
                    color: white;
                }

                a.add {
                    font-family: "Times New Roman", Times, sans-serif;
                    font-size: 17px;
                    background-color: darkgreen;
                    color: white;
                    padding: 6px 12px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    float: left;
                    margin-right: 5px;
                    margin-top: 5px;
                    margin-left: 5px;
                    margin-bottom: 5px;
                    position: relative;
                }

                    a.add:hover {
                        background-color: forestgreen;
                    }
        </style>

    </head>
<body>

    <br />
    <form asp-controller="Collections" asp-action="Functions" method="post">
        @if (Model.Role_2 == "admin" || Model.Role_2 == "moderator" || User.Identity.Name==Model.UserName)
        {
            <ol class="buttons">
                <li><input class="check" type="checkbox" onClick="toggle(this)" />Check/Uncheck all</li>
            </ol>
            <ol class="buttons">
                <li>
                    <input class="button" type="submit" name="Delete" value="Delete" />
                </li>
            </ol>
            <ol class="buttons">
                <li>
                    <a class="add" asp-controller="Collections" asp-action="Create" asp-route-username="@Model.UserName">Create new collection</a>
                </li>
            </ol>
        }

    <table id="collections">


        <tr>
            @if (Model.Role_2 == "admin" || Model.Role_2 == "moderator" || User.Identity.Name == Model.UserName)
            {
                <th>Check</th>
            }
            <th>Id<a class="th" asp-action="Index" asp-controller="Collections" asp-route-username="@Model.UserName" asp-route-sortOrder="@ViewBag.IdSort"><i class="fas fa-sort"></i></a></th>
            <th>Collection name<a class="th"  asp-action="Index" asp-controller="Collections" asp-route-username="@Model.UserName" asp-route-sortOrder="@ViewBag.NameSort"><i class="fas fa-sort"></i></a></th>
            <th>Creation date</th>
            <th>Number of items<a class="th" asp-action="Index" asp-controller="Collections" asp-route-username="@Model.UserName" asp-route-sortOrder="@ViewBag.ItemSort"><i class="fas fa-sort"></i></a></th>
            <th>Description<a class="th" asp-action="Index" asp-controller="Collections" asp-route-username="@Model.UserName" asp-route-sortOrder="@ViewBag.TextSort"><i class="fas fa-sort"></i></a></th>
        </tr>
        @foreach (var collection in Model.Collections)
            {
            if (collection.UserName == Model.UserName)
  {
    <tr>
        @if (Model.Role_2 == "admin" || Model.Role_2 == "moderator" || User.Identity.Name == Model.UserName)
         {
        <td><input class="check" type="checkbox" name="Id" value="@collection.Id" /></td>
        }
        <td>@collection.Id</td>
        <td><a class="td" asp-controller="Collections" asp-action="Collection" asp-route-id="@collection.Id">@collection.CollectionName</a></td>
        <td>@collection.CreationDate</td>
        <td>@collection.ItemCount</td>
        <td>@collection.Text</td>
    </tr>
  }
        }
    </table>

        <input type="hidden" name="username" value="@Model.UserName" />
        </form>
</body>